In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
def make_submitfile(submit_date = "0815",filename = "submission", version = "00", data = []):
    submit = pd.read_csv("data/sample_submit.csv", header=None)
    # æå‡ºãƒ•ã‚¡ã‚¤ãƒ«ã®2åˆ—ç›®ã‚’äºˆæ¸¬å€¤ã§ç½®ãæ›ãˆã¾ã™ã€‚
    submit[1] = data
    submit.to_csv(f"output/{submit_date}{filename}_{version}.csv", index=False, header=None)

In [3]:
from IPython.display import clear_output

# ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®importã‚’è¡Œã„ã¾ã™
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns
import json

import re
import unicodedata
from kanjize import kanji2number
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder


from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

import lightgbm as lgb
import logging
logging.getLogger("lightgbm").setLevel(logging.WARNING)
from sklearn.metrics import accuracy_score

from imblearn.under_sampling import RandomUnderSampler
from tqdm.auto import tqdm

In [4]:
import src.preprocess as pre
import src.feature_selection as fs
import src.stacking as stacking
import src.classification_models as models

In [5]:
class RESULT_class:
    def __init__(self):
        self.RESULT = pd.DataFrame()

    def addResult(self, model_name,
                  feature_selection,
                  under_sampling,
                  PCAd,
                  columns,
                  skf_num,
                  skf_rand,
                  score,
                  oof_valid,
                  oof_test,
                  date = "0821"):

        tmp = pd.DataFrame([[model_name,feature_selection,under_sampling,PCAd,columns,skf_num,skf_rand,score,oof_valid,oof_test,date]])
        tmp.columns = ["model_name","feature_selection","under_sampling","PCA(d)","columns","skf_num","skf_rand","score","oof_valid","oof_test","date"]
        print(len(self.RESULT))
        if len(self.RESULT)>0:
            self.RESULT = pd.concat([self.RESULT, tmp])
        else:
            self.RESULT = tmp

Rc = RESULT_class()

# Dataload

In [6]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [7]:
df_dict = {"train":train.copy(),
           "synthetic":train.copy(),
          "test":test.copy()}

- id: å–¶æ¥­ãƒªã‚¹ãƒˆã®é¡§å®¢ID
- Age: é¡§å®¢ã®å¹´é½¢
- TypeofContact: é¡§å®¢ã¸ã®é€£çµ¡æ–¹æ³•
- CityTier: éƒ½å¸‚å±¤(1>2>3)
- DurationOfPitch: å–¶æ¥­æ‹…å½“è€…ã«ã‚ˆã‚‹é¡§å®¢ã¸ã®å£²ã‚Šè¾¼ã¿æ™‚é–“
- Occupation: é¡§å®¢ã®ã”è·æ¥­
- Gender: é¡§å®¢ã®æ€§åˆ¥
- NumberOfPersonVisiting: ä¸€ç·’ã«æ—…è¡Œã‚’äºˆå®šã—ã¦ã„ã‚‹äººæ•°ã®åˆè¨ˆ
- NumberOfFollowups: ã‚»ãƒ¼ãƒ«ã‚¹ãƒˆãƒ¼ã‚¯å¾Œã«å–¶æ¥­æ‹…å½“è€…ãŒè¡Œã£ãŸãƒ•ã‚©ãƒ­ãƒ¼ã‚¢ãƒƒãƒ—ã®åˆè¨ˆæ•°
- ProductPitched: å–¶æ¥­æ‹…å½“è€…ã«ã‚ˆã‚‹å•†å“ã®å£²ã‚Šè¾¼ã¿
- PreferredPropertyStar: é¡§å®¢ã«ã‚ˆã‚‹ãƒ›ãƒ†ãƒ«æ–½è¨­ã®å„ªå…ˆè©•ä¾¡
- NumberOfTrips: é¡§å®¢ã®å¹´é–“æ—…è¡Œæ•°
- Passport: ãƒ‘ã‚¹ãƒãƒ¼ãƒˆã®æ‰€æŒ
- PitchSatisfactionScore: å£²ã‚Šè¾¼ã¿ã®æº€è¶³åº¦ã‚¹ã‚³ã‚¢
- Designation: ç¾åœ¨ã®çµ„ç¹”ã«ãŠã‘ã‚‹é¡§å®¢ã®æŒ‡å®š
- MonthlyIncome: é¡§å®¢ã®æœˆå
- customer_info: é¡§å®¢ã®æƒ…å ±ã®ãƒ¡ãƒ¢(å©šå§»çŠ¶æ³ã‚„è»Šã®æœ‰ç„¡ã€æ—…è¡Œã®å­ã©ã‚‚ã®åŒä¼´ã®æœ‰ç„¡ã«ã¤ã„ã¦è¨˜è¼‰ã•ã‚Œã¦ã„ã‚‹)
- ProdTaken: ç›®çš„å¤‰æ•°

In [8]:
print(train.shape)
print(test.shape)

(3489, 18)
(3489, 17)

# åŸºæœ¬å¤‰æ›

In [9]:
# ä¼¼ãŸæ–‡å­—ã®ãƒãƒƒãƒ”ãƒ³ã‚°è¾æ›¸
char_map = {
    'Ï‚': 'c',
    'Ğ°': 'a', 'Ğ': 'A','Î±':'a',
    'Ğµ': 'e', 'Ğ•': 'E',
    'Ğ¾': 'o', 'Ğ': 'O',
    'Ñ': 'c', 'Ğ¡': 'C',
    'Ñ€': 'p', 'Ğ ': 'P',
    'Ï…': 'y', 'Î¥': 'Y',
    'ê“¢': 'S', 'ê“¤': 'R',
    'Ğ…': 'S','Ñ•':'s',
    'á ': 'D', 'á—': 'D', 'ê­°': 'D', 'ğ™³': 'D',
    'Õ': 'S',
    'ğ–º': 'a', 'ğ˜¤': 'c', 'ğ”¡': 'd',
    'ğŠ¡': 'B', 'Ğ²':'B','Î²':'B',
    'Î¼':'m',
    'Îµ':'E',
    'K':'K',
    'Ä±':'i',
    'n':'n','Õ¸':'n',
    'ï½“': 's', 'Õ¿':'s','Î¹':'i',
    'Ã—': 'x'
}

# ç‰¹å®šã®æ–‡å­—åˆ—ã‚’æ­£è¦åŒ–ã™ã‚‹ãŸã‚ã®è¾æ›¸
pattern_map = {
    r'(?i)basic': 'Basic',
    r'(?i)standard': 'Standard',
    r'(?i)super deluxe': 'Super Deluxe',
    r'(?i)deluxe': 'Deluxe',
    r'(?i)king': 'King',
    r'(?i)de\|uxe': 'Deluxe',
}

In [10]:
for kind in ["train","test"]:
    df_dict[kind]["Age"] = df_dict[kind]["Age"].map(lambda x:pre.Age(x))
    df_dict[kind]["Age"] = df_dict[kind]["Age"].map(lambda x: pre.age_distribution(df_dict[kind], x) if x < 0 else x)
    df_dict[kind]["DurationOfPitch"] = df_dict[kind]["DurationOfPitch"].map(lambda x:pre.DurationOfPitch(x))
    df_dict[kind]["Gender"] = df_dict[kind]["Gender"].map(lambda x:pre.Gender(x))
    df_dict[kind]["ProductPitched"] = df_dict[kind]["ProductPitched"].map(lambda x:pre.ProductPitched(x, char_map, pattern_map))
    df_dict[kind]["NumberOfTrips"] = df_dict[kind]["NumberOfTrips"].map(lambda x:pre.NumberOfTrips(x))
    df_dict[kind]["Designation"] = df_dict[kind]["Designation"].map(lambda x:pre.ProductPitched(x, char_map, pattern_map))
    df_dict[kind]["MonthlyIncome"] = df_dict[kind]["MonthlyIncome"].map(lambda x:pre.MonthlyIncome(x)).astype(float)
    df_dict[kind]["MonthlyIncome"] = df_dict[kind]["MonthlyIncome"].map(lambda x: pre.Income_distribution(df_dict[kind], x) if x % 1000 == 0 else x)
    df_dict[kind]["NumberOfFollowups"] = df_dict[kind]["NumberOfFollowups"].map(lambda x:pre.NumberOfFollowups(x)).astype(float)
    df_dict[kind] = pre.customer_info(df_dict[kind]).drop(["customer_info"],axis=1)

# Gans

In [11]:
# SDV
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import SingleTableMetadata
# è¨ºæ–­ç”¨
from sdv.evaluation.single_table import run_diagnostic
from sdv.evaluation.single_table import evaluate_quality
from sdv.evaluation.single_table import get_column_plot

In [12]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã‹ã‚‰ãƒ¡ã‚¿ãƒ‡ãƒ¼ã‚¿ã‚’è‡ªå‹•æŠ½å‡º
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df_dict["train"])
metadata.update_column(column_name="CityTier",sdtype="categorical")

In [13]:
# ã‚¤ãƒ³ã‚¹ã‚¿ãƒ³ã‚¹ç”Ÿæˆ
ctgan = CTGANSynthesizer(metadata,epochs=1000,verbose=True) 
# å­¦ç¿’
ctgan.fit(df_dict["train"])

C:\Users\ctiha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sdv\single_table\base.py:97: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(
Gen. (-1.27) | Discrim. (-0.25): 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [06:56<00:00,  2.40it/s]

In [14]:
synthetic_data = ctgan.sample(100000)
# ç”Ÿæˆã—ãŸãƒ‡ãƒ¼ã‚¿ã‚’ç¢ºèª
synthetic_data.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,ProdTaken,marriage,car,child
0,807994768,60.0,Company Invited,2,9.0,Small Business,male,3.0,5.0,standard,3.0,2.0,0,1,senior manager,441593.0,0,æœªå©š,è»Šæœªæ‰€æœ‰,2.0
1,746439230,33.0,Company Invited,3,14.0,Large Business,female,1.0,3.0,basic,4.0,1.0,0,4,executive,257463.0,0,æœªå©š,è»Šæœªæ‰€æœ‰,0.0
2,201363792,42.0,Self Enquiry,2,13.0,Small Business,female,2.0,4.0,standard,4.0,2.0,0,1,senior manager,398940.0,1,æœªå©š,è»Šæœªæ‰€æœ‰,0.0
3,364823003,32.0,Company Invited,1,14.0,Large Business,female,2.0,3.0,standard,4.0,2.0,1,2,senior manager,337741.0,1,æœªå©š,è»Šæœªæ‰€æœ‰,0.0
4,726973888,41.0,Self Enquiry,2,15.0,Small Business,male,2.0,NaN,deluxe,3.0,3.0,0,3,manager,303355.0,0,çµå©šæ¸ˆã¿,è»Šæœªæ‰€æœ‰,1.0

In [15]:
diagnostic_report = run_diagnostic(
    real_data=train,
    synthetic_data=synthetic_data,
    metadata=metadata)

Generating report ...

(1/2) Evaluating Data Validity: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [00:00<00:00, 512.38it/s]|
Data Validity Score: 85.8%

(2/2) Evaluating Data Structure: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 998.88it/s]|
Data Structure Score: 80.95%

Overall Score (Average): 83.37%

In [16]:
#diagnostic_report.get_details(property_name='Coverage')

In [17]:
quality_report = evaluate_quality(
    real_data=df_dict["train"],
    synthetic_data=synthetic_data,
    metadata=metadata)

Generating report ...

(1/2) Evaluating Column Shapes: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [00:00<00:00, 123.35it/s]|
Column Shapes Score: 90.55%

(2/2) Evaluating Column Pair Trends: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 190/190 [00:05<00:00, 33.44it/s]|
Column Pair Trends Score: 85.33%

Overall Score (Average): 87.94%

In [18]:
quality_report.get_details(property_name='Column Shapes')

                    Column        Metric     Score
0                      Age  KSComplement  0.902094
1            TypeofContact  TVComplement  0.846306
2                 CityTier  TVComplement  0.937822
3          DurationOfPitch  KSComplement  0.874748
4               Occupation  TVComplement  0.845442
5                   Gender  TVComplement  0.909276
6   NumberOfPersonVisiting  TVComplement  0.963970
7        NumberOfFollowups  TVComplement  0.875719
8           ProductPitched  TVComplement  0.974126
9    PreferredPropertyStar  TVComplement  0.935466
10           NumberOfTrips  TVComplement  0.897629
11                Passport  TVComplement  0.959812
12  PitchSatisfactionScore  TVComplement  0.821167
13             Designation  TVComplement  0.971254
14           MonthlyIncome  KSComplement  0.922187
15               ProdTaken  TVComplement  0.954738
16                marriage  TVComplement  0.882239
17                     car  TVComplement  0.883338
18                   child  TVComplement  0.846644

In [19]:
fig = get_column_plot(
    real_data=df_dict["train"],
    synthetic_data=synthetic_data,
    column_name='Age',
    metadata=metadata
)
    
fig.show()

In [20]:
fig = get_column_plot(
    real_data=df_dict["train"],
    synthetic_data=synthetic_data,
    column_name='ProdTaken',
    metadata=metadata
)
    
fig.show()

In [21]:
df_dict["synthetic"] = synthetic_data